plugins:
  - jekyll-environment-variables
logo:
  mobile: /images/club_logo.png
  mobile_height: 32px
  mobile_width: 32px
  desktop: /images/logo.png
  desktop_height: 32px
  desktop_width: 120px
permalink: pretty
sass:
  style: compressed
defaults:
  - scope:
      path: ""
      type: services
    values:
      layout: service
  - scope:
      path: ""
      type: team
    values:
      layout: team
favicon: images/favicon-32x32.svg
collections:
  services:
    output: true
    sort_by: weight
  team:
    output: true
title: Jekyll Serif
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md
baseurl: /
home:
  limit_services: 6
