baseurl: '/'
permalink: pretty
title: 'FDA MHS'

logo:
  mobile: "images/logo-mobile.svg"
  mobile_height: "32px"
  mobile_width: "32px"
  desktop: "images/logo.svg"
  desktop_height: "32px"
  desktop_width: "120px"

home: 
  limit_events: 6

collections:
  events:
    output: true
    sort_by: date
  members:
    output: true

defaults:
  - scope:
      path: ""
      type: "events"
    values:
      layout: "event"
  - scope:
      path: ""
      type: "members"
    values:
      layout: "member"

sass:
  style: compressed # possible values: nested expanded compact compressed

plugins:
  - jekyll-environment-variables

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md

url: "https://fda-mhs.github.io" 
remote_theme: zerostaticthemes/jekyll-serif-theme